body {
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
}

h1 {
  font-family: 'Fraunces', serif;
  color: hsl(212, 21%, 14%);
  font-size: 3em;
  line-height: 0.9em;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  overflow: hidden;
  height: 50vh;
  width: 70vw;
  top: 25%;
  left: 15%;
  translate: (50%, 50%);
  position: fixed;
}

.product-image {
  flex: 0.5;
  height: 100%;
  background-image: url("./images/image-product-desktop.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-info {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  padding: 5%;
  justify-content: space-between;
}

.product-info > span {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5em;
  color: hsl(228, 12%, 48%);
  font-size: 0.8em;
}

.product-info > p {
  font-family: 'Montserrat', sans-serif;
  color: hsl(228, 12%, 48%);
  line-height: 1.7em;
  margin: 0;
  margin-bottom: 1em;
}

.price-tags-container {
  display: flex;
  font-family: 'Fraunces', serif;
  position: relative;
}

.current-price {
  color: hsl(158, 36%, 37%);
  font-size: 3em;
  font-weight: 700;
}

.old-price {
  position: absolute;
  top: 1.2em;
  left: 70%;
  text-decoration: line-through;
  color:hsl(228, 12%, 48%);
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.add-cart-button {
  background-color: hsl(158, 36%, 37%);
  border-radius: 5px;
  border: none;
  height: 3em;
  color:hsl(0, 0%, 100%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.add-cart-button > img {
  vertical-align: middle;
  margin-right: 0.5em;
}

@media (max-width: 750px) {
  .main-container {
    flex-direction: column;
    height: 90vh;
    width: 90vw;
    top: 5%;
    left: 5%;
    translate: (50%, 50%);
  }

  .product-image {
    background-image: url("./images/image-product-mobile.jpg");
    flex: 0.4;
  }

  .product-info {
    flex: 0.6;
  }
}