body {
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
}

h1 {
  color: hsl(212, 21%, 14%);
  font-family: 'Fraunces', serif;
  font-size: 3em;
  line-height: 0.9em;
  margin: 0;
}

.main-container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  height: calc(100% - 40vh);
  left: 22.5%;
  overflow: hidden;
  position: fixed;
  top: 20%;
  translate: (50%, 50%);
  width: calc(100% - 45vw);
}

.product-image {
  background-image: url("./images/image-product-desktop.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0.5;
  height: 100%;
}

.product-info {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  justify-content: space-between;
  padding: 5%;
}

.product-info > span {
  color: hsl(228, 12%, 48%);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.product-info > p {
  color: hsl(228, 12%, 48%);
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7em;
  margin-bottom: 1em;
  margin: 0;
}

.price-tags-container {
  display: flex;
  font-family: 'Fraunces', serif;
  position: relative;
}

.current-price {
  color: hsl(158, 36%, 37%);
  font-size: 3em;
  font-weight: 700;
}

.old-price {
  color:hsl(228, 12%, 48%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  left: 70%;
  position: absolute;
  text-decoration: line-through;
  top: 1.2em;
}

.add-cart-button {
  background-color: hsl(158, 36%, 37%);
  border-radius: 5px;
  border: none;
  color:hsl(0, 0%, 100%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height: 3em;
}

.add-cart-button > img {
  margin-right: 0.5em;
  vertical-align: middle;
}

@media (max-width: 780px) {
  .main-container {
    flex-direction: column;
    height: 90vh;
    left: 5%;
    top: 5%;
    translate: (50%, 50%);
    width: 90vw;
  }

  .product-image {
    background-image: url("./images/image-product-mobile.jpg");
    flex: 0.4;
  }

  .product-info {
    flex: 0.6;
  }
}